{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}
{% block lead %}
  <div class="lead-img-container" style="padding: 2% 0 0 0 !important">
    <img src="https://static.igem.wiki/teams/5844/lead/dut-china-attribution.webp" class="lead-fullpage-img" alt="iGEM lead-img">
  </div>
{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <script type="text/javascript">
    // Listen to size change and update form height
    window.addEventListener("message", function (e) {
      if (e.origin === "https://teams.igem.org") {
        const {type, data} = JSON.parse(e.data);
        if (type === "igem-attribution-form") {
          const element = document.getElementById("igem-attribution-form");
          element.style.height = `${data + 100}px`;
        }
      }
    });
  </script>
  <iframe
    style='width: 100%'
    id="igem-attribution-form"
    src="https://teams.igem.org/wiki/5844/attributions">
  >
  </iframe>
</div>

{% endblock %}
